html{
    background-image: radial-gradient(150rem 100rem, #222222 5%, #333333 20%, #000 75%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #444444;
    color: #333333;
    padding: 1rem;
    position: sticky;
    top: 0;
    text-align: center;
}

main {
    padding: 2rem;
    height: 1000px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 1rem 1rem;
    width: 100px;
    height: 100px;
    font-size: 1rem;
    top: 100px;
    border-radius: 12px;
    border: none;
    background-color: #444444;
    color: #333333;
    cursor: pointer;
    display: flex;     
    flex-direction: column;         
    align-items: center;        
    justify-content: center;     
    gap: 8px;                    
    padding: 10px 20px;
    border: none;
    transform: translateY(5rem);
    text-align: bottom;
}
svg {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
}

#button1 {
	padding: 1rem 1rem;
    font-size: 1rem;
    border: none;
	background-color: #444444;
    color: #333333;
    cursor: pointer;
    transform: translateY(5rem);
}

#acctext {
    padding: 3rem, 3rem;
    width: 100%;
    height: 70vh;
    margin: 0;
    border: none;
    border-radius: 12px;
    outline: none;
    background-color: black;
    color: #666666;
    resize: none;
    font-size: 1rem; 
    cursor: pointer;
    box-sizing: border-box;
}
#acctext:focus {
    border: none;
}