body {
    font-family: sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #f0b000;
    color: white;
    padding: 3rem;
}

main {
    padding: 2rem;
}

button {
    padding: 3rem 3rem;
    font-size: 1rem;
    cursor: pointer;
}

#button1 {
	padding: 3rem 3rem;
    font-size: 1rem;
	color: #ffff00;
    background-color: #ffaa00;
    cursor: pointer;
}

#accbutton {
    padding: 3rem 3rem;
    font-size: 1rem;
    background: none;
    border: none;   
    cursor: pointer;
}