body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 3rem;
}

main {
    padding: 2rem;
}

button {
    padding: 3rem 3rem;
    font-size: 1rem;
    cursor: pointer;
}

button1 {
	padding: 3rem 3rem;
    font-size: 1rem;
    cursor: pointer;
}
