body {
    font-family: sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 3rem;
}

main {
    padding: 2rem;
}

button {
    padding: 3rem 3rem;
    font-size: 1rem;
    cursor: pointer;
}

#button1 {
	padding: 3rem 3rem;
    font-size: 1rem;
	color: #00ffff;
    cursor: pointer;
}

#accbutton {
    padding: 3rem 3rem;
    font-size: 1rem;   
    cursor: pointer;
}

#dmbutton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    padding: 1rem 1rem;
    color: #00ffff;
}